<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:Android="http://schemas.android.com/apk/res-auto"
    package="com.duanqu.Idea">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name = "android.hardware.camera" />
    <uses-feature android:name = "android.hardware.camera.autofocus" />




    <application
        android:hardwareAccelerated="true"
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:largeHeap="true">
        <activity android:name=".activity.SplashActivity"

            android:configChanges="orientation|keyboardHidden|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activity.ImageWatchActivity"></activity>

        <activity android:name=".activity.FeedActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            ></activity>

        <activity android:name=".activity.MoreMusicActivity" />

        <activity android:name=".activity.ImageDisplay"
            android:theme="@style/MyImageDisplayTheme"
            />

        <activity android:name=".activity.VideoPlayViewActivity"
            android:theme="@style/MyDarkTheme"
            ></activity>

        <activity android:name=".activity.AttentionActivity"
            android:theme="@style/TranslucentTheme"></activity>

        <activity android:name=".activity.SendActivity"></activity>
        <activity android:name=".activity.ParallaxUserInfoDisplayActivity"
            android:windowSoftInputMode="adjustResize"
            ></activity>

        <activity android:name=".activity.MainActivity1"></activity>

        <activity android:name=".activity.RegisterActivity"></activity>

        <activity android:name=".activity.FirstStepPoupWindowForRegister"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            ></activity>
    </application>

</manifest>
